.container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100px;
  overflow: hidden;
}

.shelf {
  display: block;
  width: 100%;
  height: auto;
}

.car {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 25%;
  height: auto;
}

.container:hover .car {
  animation: move-car 1s infinite linear;
}

.boat {
  position: absolute;
  bottom: 30%;
  right: 37%;
  width: 20%;
  height: auto;
}

.boat:hover {
  animation: move-boat 1s infinite linear;
}

.text {
  position: absolute;
  top: 10%;
  left: 15%;
  transform: translateX(-50%) rotate(-30deg);
  color: white;
  opacity: 0;
}

.store-btn {
  all: unset;
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  z-index: 3;
  cursor: pointer;
  font-size: 30%;
  color: #fff;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.sepia {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(112, 66, 20, 0.4);
  pointer-events: none;
  z-index: 20;
  opacity: 0;
  transition: opacity 5s ease-in-out;
}

.kid {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  height: auto;
  opacity: 0;
}

.container:hover .store-btn {
  opacity: 1;
}

.container:has(button:focus) .text {
  opacity: 1;
}

.container:has(button:focus) .kid {
  opacity: 1;
  animation: move-kid 3s forwards;
}

.container:has(button:focus) .sepia {
  opacity: 1;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 200px);
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

@keyframes move-kid {
  0%   { bottom: -15%; }
  10%  { left: 10%;  bottom: 25%; }
  20%  { left: 30%;  bottom: 10%; }
  22%  { left: 25%;  bottom: 7%; }
  24%  { left: 20%;  bottom: 10%; }
  30%  { left: 40%;  bottom: 25%; }
  40%  { left: 50%;  bottom: 10%; }
  42%  { left: 45%;  bottom: 7%; }
  44%  { left: 40%;  bottom: 10%; }
  50%  { left: 60%;  bottom: 25%; }
  60%  { left: 70%;  bottom: 10%; }
  62%  { left: 65%;  bottom: 7%; }
  64%  { left: 60%;  bottom: 10%; }
  70%  { left: 80%;  bottom: 25%; opacity: 1; }
  100%  { left: 120%; bottom: 10%; opacity: 0; }
}

@keyframes move-boat {
  25% {
    transform: rotate(10deg);
  }

  75% {
    transform: rotate(-10deg);
  }
}

@keyframes move-car {
  25% {
    transform: translateX(15%);
  }

  75% {
    transform: translateX(-15%);
  }
}

